<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="utente1" value="UNITUS;192.168.10.122,1434;rettorato_ok;amm;ABCDE12345;assistenza;123*Lodeserto"/>
        <add key="utente2" value="UNITUS;192.168.10.122,1434;rettorato_ok;amm;ABCDE12345;assistenza;123*Lodeserto"/>
    </appSettings>
</configuration>
